body {
	font-family: 'Montserrat', sans-serif;
}

.line {
	margin-top: 5px;
}

.day {
	border-style: solid;
	border-color: black;
	border-width: 1px 1px 1px 1px;
	border-radius: 3px;
	margin-left: 2px;
	height: 50px;
	width: 50px;
	display: inline-block;
}

.day.empty {
	border-color: transparent;
}

.day-header {
	width: 50px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}

.day-content {
	text-align: center;
	line-height: 50px;
}

.event-container {
	display: inline-block;
}

input[type="text"],select{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px 6px;
}

line {
	padding-top: 2px;
	display: block;
}