body {
	font-family: 'Montserrat', sans-serif;
}

.filter {
	text-align: center;
	background: #C2363B;
	padding: 2px 0px;
}

input[type="text"],select{
    border: 1px solid #C2363B;
    border-radius: 3px;
    padding: 6px 6px;
		background: #C2363B;
		color: #E3AB5C;
		font-family: 'Montserrat', sans-serif;
}

.calendar {
	background: #F5E4CA;
	display: inline-block;
}

.line {
	margin-top: 5px;
}

.day {
	border-style: solid;
	border-color: transparent;
	border-width: 1px 1px 1px 1px;
	border-radius: 3px;
	margin-left: 2px;
	height: 50px;
	width: 50px;
	display: inline-block;
}

.day-header {
	width: 50px;
	padding-top: 2px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}

.day-content {
	text-align: center;
	line-height: 50px;
}

.event-container {
	display: inline-block;
}

line {
	padding-top: 2px;
	display: block;
}

.events {
	display: inline-block;
	vertical-align: top;
	height: inherit;
}

.events.hide {
	background-color:green;
	left:0px;
}

.events.show {
	background-color:#C2363B;
}

.events > ul {
	list-style: none;
}


/* http://www.colourlovers.com/palette/4204125/Nursery_3 */